@inherits LayoutComponentBase
<div class="page" style="background: white;">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main style="background-color: white;">
        <article class="content px-4">
            @Body
        </article>

        <RadzenDialog />
        <RadzenNotification />
        <RadzenContextMenu />
        <RadzenTooltip />
    </main>
</div>
