@inject IJSRuntime JS
@inject NavigationManager NavManager

<div class="top-row ps-3 navbar navbar-dark" style="background-color: rgba(45, 62, 80)">
    <div class="container-fluid">
        <b class="navbar-brand" href=""><NavLink class="nav-link" href="">RentAThing</NavLink></b>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu" style="border: 0px none #212529; background-color: rgb(45, 62, 80)">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="myProfile" Match="NavLinkMatch.All">
                <span class="bi bi-person-circle" aria-hidden="true"></span> My profile
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="items">
                <span class="bi bi-cart" aria-hidden="true"></span> Items for rental
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="myRentals">
                <span class="bi bi-cart-check" aria-hidden="true"></span> My rentals
            </NavLink>
        </div>
        <RadzenRow Style="width: 80%; margin: auto; border-bottom: 1px solid #999999; height: 2px"></RadzenRow>
        <div class="nav-item px-3" style="border: 0px none rgba(0,0,0,0); border-top: 1px none rgba(0, 0, 0, 100); margin-left: 20px; margin-right: 20px">
            <RadzenButton Text="Log out" Click="@(async () => await Task.Run(async () => await LogOut()))" ButtonType="ButtonType.Button" Style="margin-top: 20px; text-align: center; height: 29px; width: 100%; background-color: rgb(217,84,79); color: rgb(255,255,255); border: 0px outset #000000" />
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task LogOut(){
        // usunac wszystkie dane uzytkownika
        await JS.InvokeVoidAsync("sessionStorage.removeItem", "authToken");
        NavManager.NavigateTo("/signIn");
    }
}
