@inject NavigationManager NavManager

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(EmptyLayout)" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(EmptyLayout)">
                <p>Not found</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@code {
    protected override void OnInitialized()
    {
        if (NavManager.Uri.EndsWith("/"))
        {
            NavManager.NavigateTo("/signIn", true);
        }
    }
}
